certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
exceptiongroup==1.2.2
filelock==3.12.2
idna==3.10
importlib-metadata==6.7.0
iniconfig==2.0.0
markdown-it-py==2.2.0
mdurl==0.1.2
packaging==24.0
pluggy==1.2.0
pygments==2.17.2
pytest-pretty==1.2.0
pytest==7.4.4
requests-file==2.1.0
requests==2.31.0
rich==13.8.1
ruff==0.9.10
tldextract==3.5.0
tomli==2.0.1
typing-extensions==4.7.1
urllib3==2.0.7
zipp==3.15.0
